.manage-users {
    height: 100vh;
    padding: 0px 20px;
    .tacvu {
        padding: 10px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        .refesh {
            cursor: pointer;
            i {
                font-size: 25px;
                color: green;
            }
        }
    }
    .items {
        margin-bottom: 1rem;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        &:last-child {
            width: 15%;
        }
    }

    th {
        background-color: #f5f5f5;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table-responsive {
        overflow-x: scroll;
    }
}

.manageuser-modal {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    // background: linear-gradient(
    //     135deg,
    //     rgb(2, 0, 36) 0%,
    //     rgba(117, 34, 206, 0.867) 9%,
    //     rgba(115, 28, 185, 0.89) 19%,
    //     rgba(112, 20, 158, 0.78) 32%,
    //     rgba(127, 52, 137, 0.5) 53%,
    //     rgba(154, 147, 151, 0.118) 100%
    // );
    background-color: #ffff;
    overflow: auto;
    border-radius: 15px;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    h2 {
        color: #888;
    }
}
